name: tests

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore RealTimeMonitor.Tests/RealTimeMonitor.Tests.csproj

      - name: Build
        run: dotnet build RealTimeMonitor.Tests/RealTimeMonitor.Tests.csproj --configuration Release --no-restore

      - name: Test + Coverage
        run: dotnet test RealTimeMonitor.Tests/RealTimeMonitor.Tests.csproj --configuration Release --no-build --collect:"XPlat Code Coverage" --logger "trx;LogFileName=test-results.trx"
